.bg-light-grey {
    background-color: #eee;
}

.bg-white {
    background-color: white;
}

.full-width {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.margin-center {
    margin: 0 auto;
}

.select-seat {
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
    margin-top: 50px;
}

.padding-xxxlarge {
    padding: 28px;
}

.padding-xxlarge {
    padding: 24px;
}

.padding-xlarge {
    padding: 20px;
}

.padding-large {
    padding: 16px;
}

.padding-medium {
    padding: 12px;
}

.padding-small {
    padding: 8px;
}

.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.h1 {
    font-size: 36px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 28px;
}

.h4 {
    font-size: 24px;
}

.h5 {
    font-size: 18px;
}

.h6 {
    font-size: 16px;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.box-sizing-box {
    box-sizing: border-box;
}

.text-align-right {
    text-align: right;
}

.error-message {
    color: #DD2C00;
}

.text-align-center {
    text-align: center;
}

.no-left-padding {
    padding-left: 0px;
}

.no-horizontal-border {
    border-left: 0px;
    border-right: 0px;
}

.no-vertical-border {
    border-top: 0px;
    border-bottom: 0px;
}

.no-top-border {
    border-top: 0px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.display-inline-block {
    display: inline-block;
}

.button-type-1 {
    cursor: pointer;
    background-color: #68689e;
    border: 0px;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    /* text-transform: uppercase; */
    font-size: 12px;
}
.no-border{
  border: 0px !important;
}
.font-bold{
  font-weight: bold !important;
}
.seat-selection{

}
.seat-selection .row-elements{
  display: block;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.seat-selection .column-elements{
  box-sizing: border-box;
  float: left;
  display: inline-block;
  margin: 5px;
  height: 20px;
  width: 20px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ae9595;
}
.chosen-seat{
    background-color: lightgreen;
}
.selected-order-user{
  background-color: #ff0000;
}
